@media (max-width: 640px) {
  header {
    background-color: #D9F4C7;
    height: 75px;
    width: 100%;
  }
  
  #b {
    background-color: #EEEBD0;
    height: 150px;
    width: 100%;
  }
  
  #c, #d {
    height: 125px;
    width: 100%;
  }

  #c {
    background-color: #9ABD97;
  }

  #d {
    background-color: #646536;
  }
  
  #boxEFGH {
    display: flex;
    flex-wrap: wrap;
  }
  
  #e, #f, #g, #h {
    display: flex;
    height: 250px;
    width: 50%;
  }
  
  #e {
    background-color: #A8C686;
  }
  #f {
    background-color: #9D9C62;
  }
  #g {
    background-color: #7BD389;
  }
  #h {
    background-color: darkolivegreen;
  }

  footer {
    background-color: #99D5C9;
    height: 80px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  header {
    background-color: #F4BBD3;
    height: 100px;
    width: 100%;
  }
  
  #b {
    background-color: #F686BD;
    height: 200px;
    width: 100%;
  }

  #c, #d {
    height: 160px;
    width: 100%;
  }

  #c {
    background-color: #FE5D9F;
  }

  #d {
    background-color: #E4959E;
  }
  
  #boxEFGH {
    display: flex;
    flex-wrap: wrap;
  }

  #e, #f, #g, #h {
    height: 250px;
    width: 50%;
  }

  #e {
    background-color: #FFB8D1;
  }
  #f {
    background-color: #BD6B73;
  }
  #g {
    background-color: #987284;
  }
  #h {
    background-color: #E75A7C;
  }

  footer {
    background-color: #861657;
    height: 93.75px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  header {
    background-color: #C7B8EA;
    height: 100px;
    width: 100%;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  #b {
    background-color: #9B97B2;
    height: 600px;
    width: 20.83%;
  }

  /* main {
    display: flex;
    flex-direction: row;
  } */

  div {
    display: flex;
  }

  #boxCDEFGH {
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 79.15%;
    height: 600px;
  }

  #boxCD, #boxEFGH {
    width: 100%;
  }

  #boxCD {
    flex-direction: row;
    height: 200px;
  }

  #c, #d {
    height: 200px;
    width: 50%;
  }

  #c {
    background-color: #D8A7CA;
  }

  #d {
    background-color: #AF42AE;
  }
  
  #boxEFGH {
    height: 250px;
    align-self: flex-end;
  }

  #e, #f, #g, #h {
    height: 250px;
    width: 25%;
  }

  #e {
    background-color: #694873;
  }
  #f {
    background-color: #351431;
  }
  #g {
    background-color: #785589;
  }
  #h {
    background-color: #703D57;
  }

  footer {
    background-color: #9B287B;
    height: 150px;
    width: 100%;
  }  
}